<title><%= title %></title>
<h1>Contact Us</h1>
<p>If you have any question, suggestion, or doubt you can contact our team "The Smurfs" through nm.qtr@windowslive.com. We will respond to you as soon as possible</p>