<title><%= title %></title>
<h1>welcome to the Manchester United FC ticketing application</h1>
<p><b>Here you can buy tickets for matches and be OUR FAN</b></p>


<img src="assets/team.jpg" width="900" height="350">

