<title><%= title %></title>
<h1>welcome to the Manchester United FC ticketing application</h1>
<p>Here you can buy tickets and HAVE FUN </p>


<img src="assets/united.jpg" width="234" height="228">

<div id="click"> 

	<a href="/tickets"><img src="assets/click.gif" width="230" height="100"></a>

</div>
