<title><%= title %></title>
<h1>welcome to the Manchester United FC ticketing application</h1>
<p>Here you can buy tickets and HAVE FUN </p>


<img src="http://www.bettingexpert.com/assets/images/team_logos/football/10260_Logo.png" alt=" " width="234" height="228">

<div id="click"> 

	<a href="/tickets"><img src="http://im21.gulfup.com/cfOC1.gif" alt=" " width="230" height="100"></a>

</div>
