<title><%= title %></title>
<h1>Privacy Policy</h1>
<p>Your privacy is important to us, and maintaining your trust and confidence is one of our highest priorities. We respect your right to keep your personal information confidential and understand your desire to avoid unwanted solicitations</p>
